<h1>Welcome to Tech Talent Store!</h1>
<p>Give us your money!</p>

<div>
	<input type="checkbox" name="checkbox" id="price_lowhigh"> <label for="price_lowhigh">Price Low to High</label>
	<br />
	<input type="checkbox" name="checkbox" id="price_highlow"> <label for="price_highlow">Price High to Low</label>
</div>

<div class="row">
	<div id="all_items">
		<%= render 'allitems' %>
	</div>
	<div id="low_to_high" class="cant-see-me">
		<%= render 'price_lowhigh' %>
	</div>
	<div id="high_to_low" class="cant-see-me">
		<%= render 'price_highlow' %>
	</div>
</div>


<script>
	$(document).ready(function(){
		$('#price_lowhigh').click(function(){
			$('#all_items').toggleClass('cant-see-me');
			$('#low_to_high').toggleClass('cant-see-me');
			if($('#price_highlow').is(':checked')){
    		$('#price_highlow').attr('checked', false);
    		$('#all_items').addClass('cant-see-me');
    		$('#high_to_low').addClass('cant-see-me');
    	}
		});
		$('#price_highlow').click(function(){
			$('#all_items').toggleClass('cant-see-me');
			$('#high_to_low').toggleClass('cant-see-me');
			if($('#price_lowhigh').is(':checked')){
				$('#price_lowhigh').attr('checked', false);
				$('#all_items').addClass('cant-see-me');
				$('#low_to_high').addClass('cant-see-me');
			}
		});
	});
</script>